<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>fileReadServlet</servlet-name>
    <servlet-class>com.example.myproject.server.FileReadingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>dataParser</servlet-name>
    <servlet-class>com.example.myproject.server.DataParseServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>tableRetrieve</servlet-name>
    <servlet-class>com.example.myproject.server.RetrieveTableNameServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>dataRetrieve</servlet-name>
    <servlet-class>com.example.myproject.server.DataRetrieveServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>fileReadServlet</servlet-name>
    <url-pattern>/sampleserver/fileReadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
 	 <servlet-name>dataParser</servlet-name>
    <url-pattern>/sampleserver/dataParser</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
 	 <servlet-name>tableRetrieve</servlet-name>
    <url-pattern>/sampleserver/tableRetrieve</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
 	 <servlet-name>dataRetrieve</servlet-name>
    <url-pattern>/sampleserver/dataRetrieve</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SampleServer.html</welcome-file>
  </welcome-file-list>

</web-app>
